@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --col-pri: #245A60;
  --col-sec: #FF8B41;
  --col-ter: #936F5C;
  --col-light-pri: #FFE8D1;
  --col-white: #FFFFFF;
}

body {
  color: var(--col-white);
  background-color: var(--col-pri);
}

h1 {
  font-size: 2.125;
}

h2 {
  font-size: 1.875;
}

h2 {
  font-size: 1.5;
}

.leaflet-control-container {
  display: none;
}